<div class="container">
  <div class="routeList">
    <button type="button" class="router-item" (click)="go('background')">
      Go Background
    </button>
    
    <button type="button" class="router-item" (click)="go('position')">
      Go Position
    </button>

    <button type="button" class="router-item" (click)="go('linear')">
      Go Linear
    </button>
    
    <button type="button" class="router-item" (click)="go('env')">
      Go Env
    </button>

    <button type="button" class="router-item" (click)="go('media')">
      Go MediaQuery
    </button>

    <button type="button" class="router-item" (click)="go('header')">
      Go Header
    </button>

  </div>
</div>



